# Godot 4
.godot/
/android/
*.translation
export.cfg
export_credentials.cfg
export_presets.cfg
# shared/ ligado por junction/symlink (ADR-0003)
/game/shared
/launcher/shared

# Builds
/build/
*.exe
*.pck

# SO / editor
.DS_Store
Thumbs.db
.vscode/
